{% extends "base.html.twig" %}

{% block content %}
    <h1>Backlog produit : {{ backlog.title }}</h1>
    <div class="backlog">
        <div class="backlog-col draft">
            <div class="backlog-col-inner">
                <h2>A accepter</h2>
                <div class="tasks">
                    {% for task in accepter %}
                    <div class="tasks-item">
                        <div class="tasks-item-title">
                            <div class="raji-row">
                                <p class="tasks-item-author">Je suis l'auteur</p>
                                <p class="tasks-item-type">{{ task.type }}</p>
                            </div>
                            <div class="raji-row">
                                <h3>{{ task.title }}</h3>
                                <a href="/element/{{ task.id }}/edit" class="tasks-item-edit"><img src="{{ asset('images/edit.svg') }}"/></a>
                            </div>
                        </div>
                        <p class="tasks-item-desc">{{ task.description }}</p>
                        <div class="tasks-item-infos">
                            <p>Priority : {{ task.priority }}</p>
                            <p>Estimation : {{ task.estimation }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <a href="/element/new" class="tasks-add">+</a>
                </div>
            </div>

        </div>
        <div class="backlog-col attente">
            <div class="backlog-col-inner">
                <h2>A estimer par l'equipe dev</h2>
                <div class="tasks">
                    {% for task in estimer %}
                        <div class="tasks-item">
                            <div class="tasks-item-title">
                                <div class="raji-row">
                                    <p class="tasks-item-author">Je suis l'auteur</p>
                                    <p class="tasks-item-type">{{ task.type }}</p>
                                </div>
                                <div class="raji-row">
                                    <h3>{{ task.title }}</h3>
                                    <a href="#" class="tasks-item-edit"><img src="{{ asset('images/edit.svg') }}"/></a>
                                </div>
                            </div>
                            <p class="tasks-item-desc">{{ task.description }}</p>
                            <div class="tasks-item-infos">
                                <p>Priority : {{ task.priority }}</p>
                                <p>Estimation : {{ task.estimation }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="backlog-col valider">
            <div class="backlog-col-inner">
                <h2>A planifier</h2>
                <div class="tasks">
                    {% for task in planifier %}
                        <div class="tasks-item">
                            <div class="tasks-item-title">
                                <div class="raji-row">
                                    <p class="tasks-item-author">Je suis l'auteur</p>
                                    <p class="tasks-item-type">{{ task.type }}</p>
                                </div>
                                <div class="raji-row">
                                    <h3>{{ task.title }}</h3>
                                    <a href="#" class="tasks-item-edit"><img src="{{ asset('images/edit.svg') }}"/></a>
                                </div>
                            </div>
                            <p class="tasks-item-desc">{{ task.description }}</p>
                            <div class="tasks-item-infos">
                                <p>Priority : {{ task.priority }}</p>
                                <p>Estimation : {{ task.estimation }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}