{% extends "base.html.twig" %}

{% block content %}
    {% for message in app.flashes('conf') %}
        <div class="flash-message flash-conf">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Backlog produit : {{ backlog.title }}</h1>
    <div class="backlog">
        <div class="backlog-col draft">
            <div class="backlog-col-inner">
                <h2>A accepter</h2>
                <div class="tasks">
                    {% for task in accepter %}
                    <div class="tasks-item">
                        <div class="tasks-item-title">
                            <div class="raji-row">
                                <h3>{{ task.title }}</h3>
                                <a href="{{ path("element_edit", {'id':task.id}) }}" class="tasks-item-edit">
                                    {% if is_granted('ROLE_PRODUCT_OWNER') %}<img src="{{ asset('images/edit.svg') }}"/>{% endif %}
                                </a>
                            </div>
                            <div class="raji-row">
                                <p class="tasks-item-author">{{ task.createdBy.name }}</p>
                                <p class="tasks-item-type">{{ task.type }}</p>
                            </div>
                        </div>
                        <p class="tasks-item-desc">{{ task.description }}</p>
                        <div class="tasks-item-infos">
                            <p>Priorité : {{ task.priority }}</p>
                            <p>Estimation : {{ task.estimation }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                    <a href="/element/new" class="tasks-add">+</a>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="backlog-col attente">
            <div class="backlog-col-inner">
                <h2>A estimer par l'equipe dev</h2>
                <div class="tasks">
                    {% for task in estimer %}
                        <div class="tasks-item">
                            <div class="tasks-item-title">
                                <div class="raji-row">
                                    <h3>{{ task.title }}</h3>
                                    <a href="{{ path("element_edit", {'id':task.id}) }}" class="tasks-item-edit">
                                        {% if is_granted('ROLE_PRODUCT_OWNER') or is_granted('ROLE_DEV') %}<img src="{{ asset('images/edit.svg') }}"/>{% endif %}
                                    </a>
                                </div>
                                <div class="raji-row">
                                    <p class="tasks-item-author">{{ task.createdBy.name }}</p>
                                    <p class="tasks-item-type">{{ task.type }}</p>
                                </div>
                            </div>
                            <p class="tasks-item-desc">{{ task.description }}</p>
                            <div class="tasks-item-infos">
                                <p>Priorité : {{ task.priority }}</p>
                                <p>Estimation : {{ task.estimation }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="backlog-col valider">
            <div class="backlog-col-inner">
                <h2>A planifier</h2>
                <div class="tasks">
                    {% for task in planifier %}
                        <div class="tasks-item">
                            <div class="tasks-item-title">
                                <div class="raji-row">
                                    <h3>{{ task.title }}</h3>
                                    <a href="{{ path("element_edit", {'id':task.id}) }}" class="tasks-item-edit">
                                        {% if is_granted('ROLE_PRODUCT_OWNER') %}<img src="{{ asset('images/edit.svg') }}"/>{% endif %}
                                    </a>
                                    </div>
                                <div class="raji-row">
                                    <p class="tasks-item-author">{{ task.createdBy.name }}</p>
                                    <p class="tasks-item-type">{{ task.type }}</p>
                                </div>
                            </div>
                            <p class="tasks-item-desc">{{ task.description }}</p>
                            <div class="tasks-item-infos">
                                <p>Priorité : {{ task.priority }}</p>
                                <p>Estimation : {{ task.estimation }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script
            src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/flash.js') }}"></script>
{% endblock %}